Package: com.insanj.dated
Name: Dated
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Configurable message timestamps.
Maintainer: Julian Weiss <rinsedeveloper@gmail.com>
Author: Rinse
Section: Tweaks
Icon: file:///Library/PreferenceBundles/DatedPrefs.bundle/icon.png
