Package: com.insanj.dated
Name: Dated
Depends: mobilesubstrate, ws.hbang.common (>= 1.2)
Version: 1.2
Architecture: iphoneos-arm
Description: Configurable message timestamps.
Maintainer: Julian Weiss <rinsedeveloper@gmail.com>
Author: Rinse
Section: Tweaks
Icon: file:///Library/PreferenceBundles/DatedPrefs.bundle/icon.png
