<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
	<array>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
        </dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>Enabled</string>
			<key>key</key> 				<string>disabled</string>
            <key>negate</key>              <true/>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshApp</string>
		</dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
            <key>label</key>		   <string>Preview</string>
            <key>footerText</key>      <string>Previews are generated using Apple's own ChatKit framework templates. The format and localization should be automatic.</string>

        </dict>

        <dict>
            <key>cell</key>            <string>PSStaticTextCell</string>
            <key>cellClass</key>	   <string>DDPreviewTextCell</string>
        </dict>

		<dict>
			<key>cell</key>            <string>PSGroupCell</string>
			<key>label</key>		   <string>Components</string>
			<key>footerText</key>      <string>Pick which components should be represented in each timestamp.</string>
		</dict>

        <dict>
            <key>cell</key>				<string>PSSwitchCell</string>
            <key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>Year</string>
            <key>key</key> 				<string>year</string>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshAll</string>
        </dict>

        <dict>
            <key>cell</key>				<string>PSSwitchCell</string>
            <key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>Month</string>
            <key>key</key> 				<string>month</string>
            <key>negate</key>              <true/>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshAll</string>
        </dict>

        <dict>
            <key>cell</key>				<string>PSSwitchCell</string>
            <key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>Day</string>
            <key>key</key> 				<string>day</string>
            <key>negate</key>              <true/>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshAll</string>
        </dict>

        <dict>
            <key>cell</key>				<string>PSSwitchCell</string>
            <key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>Day of Week</string>
            <key>key</key> 				<string>dow</string>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshAll</string>
        </dict>

        <dict>
            <key>cell</key>				<string>PSSwitchCell</string>
            <key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>Hour</string>
            <key>key</key> 				<string>hour</string>
            <key>negate</key>              <true/>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshAll</string>
        </dict>

        <dict>
            <key>cell</key>				<string>PSSwitchCell</string>
            <key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>Minute</string>
            <key>key</key> 				<string>minute</string>
            <key>negate</key>              <true/>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshAll</string>
        </dict>

        <dict>
            <key>cell</key>				<string>PSSwitchCell</string>
            <key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>Second</string>
            <key>key</key> 				<string>second</string>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshAll</string>
        </dict>

        <dict>
            <key>cell</key>				<string>PSSwitchCell</string>
            <key>defaults</key>			<string>com.insanj.dated</string>
            <key>label</key>               <string>AM/PM</string>
            <key>key</key> 				<string>ampm</string>
            <key>negate</key>              <true/>
            <key>default</key> 			<false/>
            <key>PostNotification</key>    <string>com.insanj.dated/RefreshAll</string>
        </dict>

        <dict>
			<key>cell</key>	          <string>PSGroupCell</string>
			<key>label</key>             <string>About</string>
            <key>footerAlignment</key>   <integer>1</integer>
            <key>footerText</key>		<string>Thanks for using Dated (1.2) by Rinse. Please send all feedback directly from Cydia.</string>
		</dict>

        <dict>
            <key>cell</key> 		 <string>PSButtonCell</string>
            <key>label</key> 	    <string>Developer (@insanj)</string>
            <key>icon</key> 		 <string>twitter.png</string>
            <key>action</key> 	   <string>developerTapped</string>
        </dict>

        <dict>
            <key>cell</key> 		 <string>PSButtonCell</string>
            <key>label</key> 	    <string>Source (Github)</string>
            <key>icon</key> 		 <string>safari.png</string>
            <key>action</key> 	   <string>sourceTapped</string>
        </dict>

        <dict>
            <key>cell</key>	          <string>PSGroupCell</string>
            <key>footerText</key>		<string>© 2014-2015 Rinse Developer Collective</string>
        </dict>

	</array>
	<key>title</key>	<string>Dated</string>
</dict>

</plist>
